@{
    ViewData["Title"] = "DeleteDocument";
}
@model Document

<h2>Deleting document @Model.Name</h2>
<a asp-action="Document" asp-route-id="@Model.Id">Document</a>
<form method="post">
    <label>Enter the name of a document</label>
    <input type="text" name="name" value="" />
    <input type="submit" value="Delete" />
</form>
