body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#textArea {
    width: 300px;
    height: 200px
}

#docListUpper {
    margin: 10px
}

.docListPart {
    border: 2px lightgray solid;
    box-shadow: 1px 2px 2px grey;
    margin-top: 5px;
}

.docListPartName {
    font-size: 20px;
    padding-left: 5px;
}

.docListPartText {
    max-height: 60px;
    overflow: hidden;
    padding-left: 5px;
}

#textArea {
    min-width: 100%;
    max-width: 100%;
    min-height: 350px;
    border: 2px lightgray solid;
    box-shadow: 0px 0px 10px grey;
}

    #textArea:disabled {
        background-color: #fafafa;
    }

    #textArea:enabled {
        outline: none;
    }

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navBarElem {
    float: left;
}

li a {
    display: block;
    color: #000;
    padding: 10px 16px;
    text-decoration: none;
    color: white;
}

    li a:hover {
        background-color: #555;
        color: white;
        text-decoration: none;
    }

    li a:active {
        text-decoration: none;
        color: white;
    }

    li a:visited {
        text-decoration: none;
        color: white;
    }

    li a:focus {
        background-color: #555;
        color: white;
        text-decoration: none;
    }
